html,

body {

  height: 100%;

}



body {

  display: -ms-flexbox;

  display: flex;

  -ms-flex-align: center;

  align-items: center;

  padding-top: 40px;

  padding-bottom: 40px;

  background-color: #f5f5f5;

}



.form-signin{

  width: 100%;

  max-width: 330px;

  padding: 15px;

  margin: auto;
  
  height: auto;

}

.form-signin .checkbox {

  font-weight: 400;

}

.form-signin .form-control {

  position: relative;

  box-sizing: border-box;

  height: auto;

  padding: 10px;

  font-size: 16px;

}

.form-signin .form-control:focus {

  z-index: 2;

}

.form-signin input[type="email"] {

  margin-bottom: -1px;

  border-bottom-right-radius: 0;

  border-bottom-left-radius: 0;

}

.form-signin input[type="password"] {

  margin-bottom: 10px;

  border-top-left-radius: 0;

  border-top-right-radius: 0;

}



.col-md-pull-1{

	right: 5% !important;

}



.col-md-push-1{

	left: 5% !important;

}



.top-nav{

	margin-top: -15px;

	margin-bottom: 15px;

}



.form-signin h5{

	text-align: center;

	font-weight:bold;

}



.form-signin p{

	text-align: center;

}



.form-signin input{

	margin: 5px 0;

	border: 1px solid;

}



.profile p{

	font-weight:bold;

}



.logo{

  /*

  margin-bottom: 0;

  border-top-left-radius: 10px;

  border-top-right-radius: 10px;

  */

  background: #fff;

  height: 55px;

  border: 0px solid #777;

}



.logo img{

	

	margin-left: 30%;

	margin-top: 5px;

}



.form-signin img{

	float:right;

	margin-top: 15px;

}



.payment{

  height: 350px;

}



.thankyou{

  height: 190px;

}



.thankyou button{

  margin-top: 25px;

  width: 100%;

}



.thankyou img{

  margin-top: 10px;

  margin-right: 45px;

}



.eft{

  height: 230px;

}



.eft button{

  margin-top: 25px;

  width: 100%;

}



.eft img{

  margin-top: 10px;

  margin-right: 45px;

}



.confirmation{

  height: 230px;

}



.confirmation button{

  margin-top: 25px;

  width: 100%;

}



.confirmation img{

  margin-top: 10px;

  margin-right: 45px;

}



.payment-alert{

  height: 300px;

}



.payment-alert button{

  margin-top: 25px;

  width: 100%;

}



.payment-alert .coupon{

  margin-top: 25px;

  width: 100%;

  height: 150px;

  background-color: #fff;

  color: #090;

  border: 1px solid #069;

  padding: 15px;

  font-weight: bold;

}



.payment-alert .coupon small{

  color: #ccc;

  margin-left: 25%;

}



.payment-alert .coupon p{

  margin-bottom: 25px;

}



/*

	DEBIT ORDER

-------------------------------------

*/



.debit-order{

  height: 100%;

  width: 100%;

  max-width: 330px;

  padding: 15px;

  margin: auto;

}



.debit-order h5{

	text-align: center;

	font-weight: bold;

}



.debit-order input{

  padding: 22px;

  border: 1px solid;

}



.debit-order button{

  margin-top: 25px;

  width: 100%;

}



.debit-order .input-group-addon{border: 1px solid;}



.debit-order img{

  margin-top: 10px;

  margin-right: 45px;

}



.debit-order small{

	text-align: center;

	font-weight: bold;

}





.form-signin small{

	text-align: center;

}



.cards{

  height: 580px;

}



.cards .col-md-6-left{

	float:left;

	margin: 0 -15px;

	width: 58%;

}



.cards .col-md-6-right{

	float:right;

	margin: 0 -15px;

	width: 58%;

}



.cards .visa{

	float:left;

	margin: 0 -25px;

	width: 60%;

}



.cards .card-btn{

	margin: 0 30%;

	width: 55%;

	margin-bottom: 25px;

	background-color: #286090;

}



.cards .card-btn:hover{

	background-color: #337ab7;

}



/*

	OUTSTANDING BALANCE

-------------------------------------

*/



.outstanding-balance{

  height: 480px;

  width: 100%;

  max-width: 330px;

  padding: 15px;

  margin: auto;

}



.outstanding-balance h5{

	text-align: center;

	font-weight: bold;

}



.outstanding-balance input{

  padding: 22px;

  border: 1px solid;

}



.outstanding-balance button{

  margin-top: 25px;

  width: 100%;

}



.outstanding-balance .input-group-addon{border: 1px solid;}



.outstanding-balance img{

  margin-top: 10px;

  margin-right: 45px;

}



.outstanding-balance .matter-block1{

  margin-top: 10px;

  margin-bottom: 10px;

  background: #fff;

  border: 2px solid #999;

  width: 100%;

  height: 200px;

}



.outstanding-balance .matter-block2{

  margin-top: 10px;

  margin-bottom: 10px;

  background: #fff;

  border: 2px solid #999;

  width: 100%;

  height: 150px;

}



.outstanding-balance .matter-block1 .form-group1{

	position: absolute;

	top: 46%;

	width: 66.5%;

	height: 50px;

	margin-left: 2%;

	border: 2px solid #999;

}



.outstanding-balance .matter-block1 .matter-label{

	float: left;

	margin-top: 25px;

	margin-left: 15px;

}



.outstanding-balance .matter-block1 .matter-label3{

	float: left;

	margin-top: 25px;

	margin-left: 15px;

}



.outstanding-balance .matter-block1 .form-group1 .matter-label2{

	float: left;

	margin-top: 15px;

	margin-left: 15px;

	font-size: 13px;

	font-weight: bold;

	padding-left: -15px;

}



.outstanding-balance .matter-block1 .form-group1 .matter-label3{

	float: left;

	margin-top: 15px;

	margin-left: 15px;

	font-size: 13px;

	font-weight: bold;

	padding-left: -15px;

}



.outstanding-balance .matter-block1 .form-group1 #balance-amount{

	float: right;

	width: 32%;

	height: 100%;

	padding: 0;

	padding-left: 10px;

	border-left: 2px solid #999;

	border-top: none;

	border-right: none;

	border-bottom: none;

	color: #f00;

}



.outstanding-balance .matter-block1 .form-group1 #balance-amount3{

	float: right;

	width: 32%;

	height: 100%;

	margin-top: 0;

	padding: 0;

	padding: 15px;

	border-left: 2px solid #999;

	border-top: none;

	border-right: 2px solid #999;

	border-bottom: 2px solid #999;

	color: #f00;

}



.outstanding-balance .matter-block1 .form-group1 p{

	margin-top: 15px;

}



.outstanding-balance .matter-block1 #matter-no{

	float: right;

	margin-top: 15px;

	margin-right: 15px;

	height: 15px;

	width: 60%;

}



.outstanding-balance .balance-canvas{

	margin-top: 25%;

	width: 90%;

	margin-left: 5%;

	height: 45px;

	padding: 10px;

	border: 2px solid #999;

}



.outstanding-balance .balance-canvas1{

	height: 25%;

	border: 2px solid #ccc;

}



.outstanding-balance .balance-canvas .balance-label{

	float: left;

	margin: 0;

}



.outstanding-balance .balance-canvas1 #balance1{

	float: right;

	margin-top: -4.295%;

	margin-right: -4%;

	width: 45%;

	height: 20%;

	border-right: none;

	border-top: none;

	border-bottom: none;

	border-left: 2px solid #ccc;

}





/*

-----------------------------

	Media Queries

-----------------------------

*/



/*

	Extra Small

-----------------------------

*/

@media(max-width: 767px){

	input, button{

		position: relative;

		width: 100% !important;

		left:0 !important;

	}

	

	.cards .card-btn{

		margin: 0 30%;

		width: 100%;

		margin-bottom: 25px;

	}

	

	.col-md-8, .col-md-pull-1{

		margin-left: 0 !important;

	}

	

	.thankyou{

	  height: 190px;

	}

	

	.thankyou button{

	  margin-top: 25px;

	  width: 75% !important;

	  float:left;

	}

	

	.thankyou img{

	  margin-top: -10px !important;

	  margin-right: -15px !important;

	  float:right;

	}
	
	/*
	---------------------------------------------------------------------------
	    TERMS AND CONDITIONS
	---------------------------------------------------------------------------
	*/
	.header{
	    position: fixed;
	    top: 0;
	    left: 0;
	    right: 0;
	    max-height: 75px;
	    border-bottom: 4px solid blue;
	}

}