body
{
    font-family: Helvetica;
}


.button, input[type=button] /* button */
{

	background-color: #000000; 
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    height: 30px;
    width: 100%;
}

input[type=text]
{
    width: 100%;
    color: #000000;
}

.mainBlock
{
    padding-bottom:3%;
     padding-left:3%;
      padding-right:3%;
    font-family: eras-demi-itc;
}

.logoDiv
{
    //background-color: rgba(255,255,255,0.5);
    text-align: center;
    padding:5%;
}

.mainBlockSection
{
    //background-color: rgba(56,81,16,0.2);
    color:#000000;
    padding:3%;
    font-family: eras-demi-itc;
}
 
#whatsappBtn
{
    text-align: center;
    margin-left:50%;
    display: none;
}